<form class="edit-blogpost-form">
  <h2>Edit Blog Post</h2>
  <label for="blogpost-title">Title:</label>
  <input type="text" id="blogpost-title" name="blogpost_title" value="{{blogpost_title}}" required>
  <label for="blogpost-content">Content:</label>
  <textarea id="blogpost-content" name="blogpost_content" required>{{blogpost_content}}</textarea>
  <button id="update-blogpost" type="submit">Update Blog Post</button>
</form>
<script src="/js/editBlogPost.js"></script>
